.container-fluid {
  text-align: center;
  border: 3px gray dotted;
  padding: 20px 0 50px 0;
  max-width: 400px;
}

.formInput {
  margin: 50px 0 0 20px;
  text-align: left;
}

#submit {
  margin-top: 50px;
}
